body {
  font-family: "League Spartan", "Arial", sans-serif;
}

footer {
  position: absolute;
  padding-top: 20px;
  padding-left: 10px;
  max-width: 100%;
  height: 64px;
  margin-top: 100px;
  left: 0px;
  right: 0px;
  background-color: #3c8694;
  color: white;
}

.h1-reg {
  font-style: normal;
  font-weight: 350;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0.04em;
}

.h2-reg {
  font-style: normal;
  font-weight: 350;
  font-size: 25px;
  line-height: 36px;
  letter-spacing: 0.04em;
}

.h5-reg {
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.04em;
}

.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 1440px;
  padding: 15px;
  background-color: white;
  z-index: 10;
}

.nav-logo {
  padding-left: 47px;
}

.nav-menu {
  padding-left: 850px;
  justify-content: space-between;
}

.nav-menu a {
  color: black;
  margin-left: 50px;
  text-transform: uppercase;
}

.menu-active {
  color: black;
  text-decoration: underline;
}

.menu-inactive {
  color: black;
  text-decoration: none;
}

.coming-soon {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 150px 50px 23px 200px;
}

.coming-soon-text {
  font-style: normal;
  font-weight: 350;
  font-size: 25px;
  line-height: 36px;
  letter-spacing: 0.04em;
  padding-top: 150px;
  padding-right: -500px;
}
